<section class="section--header">
  <div class="container header__row">

    <nav class="header__nav header__nav--left">
      <a class="nav__link" href="{{ .header_menu_href_1_fixed }}">{{ .header_menu_item_1_fixed }}</a>
      <a class="nav__link" href="{{ .header_menu_href_2_fixed }}">{{ .header_menu_item_2_fixed }}</a>
    </nav>

    <div class="brand">
      <img class="brand__logo-img" src="{{ .header_logo_src_fixed }}" alt="{{ .header_logo_alt_fixed }}">
    </div>

    <nav class="header__nav header__nav--right">
      <a class="nav__link" href="{{ .header_menu_href_3_fixed }}">{{ .header_menu_item_3_fixed }}</a>
      <a class="nav__link" href="{{ .header_menu_href_4_fixed }}">{{ .header_menu_item_4_fixed }}</a>
    </nav>

  </div>

  <!-- CTA отдельно, чтобы НЕ наезжало на меню -->
  <a
    class="btn btn--primary header__cta"
    href="/pdf/Finstar-Investment.pdf"
    target="_blank"
    download
  >
    {{ .header_cta_button_fixed }}
  </a>

</section>